{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ce contenu n'existe pas !</h1>

    <p>
        Le contenu que vous recherchez n'existe pas !
        <br/>
        Réessayez depuis la page <a href="{{ path('home') }}">d'accueil</a>.
    </p>
{% endblock %}