{% extends 'base.html.twig' %}

{% block content %}
    <h1>Erreur de chargement !</h1>

    <p>
        Une erreur de chargement est survenue !
        <br/>
        Si vous n'êtes pas redirigés automatiquement, cliquez <a href="{{ path('home') }}">ici</a>.
    </p>

    <script>
        (
            function () {
                var t = setTimeout(
                        function () {
                            window.location.href = "{{ path('home') }}";
                        },
                        5000
                )
            }
        )();
    </script>
{% endblock %}