{% extends '::base.html.twig' %}

{% block content %}
    <h1>Articles</h1>

    <a href="{{ url('post_add') }}">Ajouter un article</a>

    <table>
        <tr>
            <th>Titre</th>
            <th>Extrait</th>
            <th>Actions</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>
                    {{ post.content }}
                </td>
                <td>
                    <a href="{{ url('post_edit', {postId: post.id}) }}">Modifier</a>
                    <a href="{{ url('post_remove', {postId: post.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}