{% extends 'base.html.twig' %}

{% block content %}
    <h1>Articles</h1>

    {% for post in posts %}
        <article>
            <h2>{{ post.title }}</h2>
            <div class="content">
                {{ post.content }}
            </div>
        </article>
    {% endfor %}

    <a href="{{ url('admin') }}">Administration</a>
{% endblock %}