<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="/main.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        <header>
            {% if app.user %}
                <a href="{{ url('fos_user_security_logout') }}">Déconnexion</a>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
        <script src="/main.min.js"></script>
    </body>
</html>
